.loading {
    width: 200px;
    height: 200px;

    background: transparent;
}

.loadingWrap {
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.async {
    height: 100%;
    vertical-align: middle;
}