.modalWrap {
    width: 75%;
    margin: 60px auto 0;
}

.modalForm {
    width: 100%;
    display: block;
}

.modalFormGlobalError {
    color: rgb(150, 33, 33);
    text-align: center;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.modalFormGroup {
    position: relative;
}

.modalFormButtons {
    margin: 30px 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalFormOptions {
    display: flex;
    flex-direction: column;
}

.modalFormOption {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #696868;
    transition: .5s;
}

.modalFormOptionLink {
    text-decoration: underline;
    color: #fcedc0;
}

.modalFormOptionLink:hover {
    color: #fff;
}

.modalFormButtonWrap {
    margin-left: auto;
}