.content {
    max-width: 1125px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 300;
}

.header {
    width: 100%;
}

.logoBlock {
    margin-top: 150px;
    display: flex;
}

.animationWrap {
    width: 4600px;
    margin-top: -75px;
    margin-left: -50px;
    position: relative;
}

.animationImg {
    width: 100%;
}

.animationRunes {
    position: absolute;
    animation: animationRunes 25s linear infinite;
    z-index: 100;
}

.animationLight {
    position: absolute;
    top: -15px;
    left: -10px;
    z-index: 200;
    animation: animationLight 15s linear infinite;
}

@keyframes animationRunes {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(1turn)
	}
}


@keyframes animationLight {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(-1turn)
	}
}

.infoWrap {
    width: calc(99% - 40px);
    margin: 175px auto 0;
    display: flex;
    align-items: center;
    padding-left: 60px;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
}

.online {
    position: relative;
    width: 208px;
    height: 210px;
    z-index: 200;

    display: flex;
    margin-top: -13px;
}

.onlineStatus {
    width: 78px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Philosopher;
}

.onlineLabel {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1em;
    color: #fff;
}

.onlineValue {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: .1em;
    color: #ffdda9;
}

.onlineImg {
    height: 174px;
    width: 100%;
}

.ray {
    background-repeat: no-repeat;
    width: 298px;
    height: 297px;
    position: absolute;
    left: -47px;
    top: -52px;
    animation: ray 30s linear infinite;
    transform: rotate(0deg);
    opacity: .6;
    z-index: 100;
}

.rates {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: flex-end;
    width: 170px;
    margin-top: 20px;
    margin-left: 50px;
}

.ratesItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Philosopher;
    font-weight: 400;
    letter-spacing: .1em;
}

.ratesItem span {
    color: #ffdda9;
    font-size: 18px;
}

.ratesItem p {
    font-size: 12px;
    color: #fff;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 300;
    margin-top: 100px;
}

.downloadBtnWrap {
    width: 325px;
    position: relative;
    transition: .5s;
}

.downloadBtnBg {
    position: absolute;
    top: -160px;
    left: -60px;
    transition: filter 0.3s ease-in;
}

.downloadBtnWrap:hover {
    filter: brightness(120%);
}

.downloadBtnInfo {
    top: -75px;
    left: 109px;
    width: 152px;
    position: absolute;
    text-align: start;
    font-weight: 400;
    letter-spacing: .3em;
    font-family: Philosopher;
    line-height: 16px;
}

.downloadBtnTitle {
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.downloadBtnDesc {
    margin-top: 1px;
    font-size: 12px;
    color: #cc7954;
    letter-spacing: .3em;
}

@keyframes ray {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(-1turn)
	}
}

.platformBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 300;
    margin-left: -14px;
}

.platformLabel {
    text-decoration: none;
    font-family: OpenSans;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: .1em;
    color: #fff;
    transition: .5s;
}

.platformLabel img {
    margin-right: 10px;
}