.contentWrap {
    max-width: 1148px;
    width: 95%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    scroll-behavior: smooth;
}

.notFound {
    text-align: center;

    font-family: Philosopher;
    line-height: 40px;
    font-size: 30px;

    color: rgba(255,255,255, 0.8);
}

@keyframes dropdownBlock {
    0% {
        max-height: 0;
    }

    to {
        max-height: 9999px;
    }
}